In [1]:
import pandas as pd

stats = pd.read_csv('/data/home/shubi/eyebench_private/data/stats/tasks_stats.csv')
stats

,Unnamed: 0,OneStop,CopCo,MECOL2W1,MECOL2W2,IITBHGC,PoTeC,SBSAT,MECOL2
0,BK_col,NaN,NaN,NaN,NaN,NaN,BK,NaN,NaN
1,BK_distribution,NaN,NaN,NaN,NaN,NaN,"{0: 89.8, 1: 10.2}",NaN,NaN
2,BK_overall,NaN,NaN,NaN,NaN,NaN,0.102±0.30 (0.00-1.00),NaN,NaN
3,BK_per_item,NaN,NaN,NaN,NaN,NaN,0.102±0.10 (0.01-0.33),NaN,NaN
4,BK_per_participant,NaN,NaN,NaN,NaN,NaN,0.103±0.09 (0.00-0.33),NaN,NaN
...,...,...,...,...,...,...,...,...,...
79,n_words_per_participant,5862.2±197 (5595-6175),5887.7±2537 (1161-13132),1221.9±339 (593-2742),1172.3±321 (560-1658),53528.0±0 (53528-53528),5606.7±336 (3324-5685),12929.3±492 (10510-13110),1196.5±331 (560-2742)
80,text_domain,News,News,NaN,NaN,NaN,Science Education,Education,NaN
81,text_language,English,Danish,English,NaN,English,German,English,English
82,text_source,Guardian Articles,Danish Natural Reading Corpus,NaN,NaN,NaN,German Physics & Biology Textbooks,SAT Reading Passages,NaN
83,text_type,paragraph,paragraph,NaN,NaN,NaN,paragraph,paragraph,NaN

In [4]:
stats.rename(columns={'Unnamed: 0': 'stat'}, inplace=True)

In [6]:
stats['stat'].unique()

array(['BK_col', 'BK_distribution', 'BK_overall', 'BK_per_item',
       'BK_per_participant', 'BTD_col', 'BTD_distribution', 'BTD_overall',
       'BTD_per_item', 'BTD_per_participant', 'CHOSEN_ANSWER_col',
       'CHOSEN_ANSWER_distribution', 'CHOSEN_ANSWER_overall',
       'CHOSEN_ANSWER_per_item', 'CHOSEN_ANSWER_per_participant',
       'CONDITION_col', 'CONDITION_distribution', 'CONDITION_overall',
       'CONDITION_per_item', 'CONDITION_per_participant',
       'DIFFICULTY_LEVEL_col', 'DIFFICULTY_LEVEL_distribution',
       'GENERAL_READING_COMPREHENSION_col',
       'GENERAL_READING_COMPREHENSION_overall',
       'GENERAL_READING_COMPREHENSION_per_item',
       'GENERAL_READING_COMPREHENSION_per_participant', 'HD_col',
       'HD_distribution', 'HD_overall', 'HD_per_item',
       'HD_per_participant', 'LEX_col', 'LEX_overall', 'LEX_per_item',
       'LEX_per_participant', 'QUESTION_LABEL_col',
       'QUESTION_LABEL_distribution', 'QUESTION_LABEL_overall',
       'QUESTION_LABEL_per_item', 'QUESTION_LABEL_per_participant',
       'RCS_col', 'RCS_overall', 'RCS_per_item', 'RCS_per_participant',
       'READER_TYPE_col', 'READER_TYPE_distribution',
       'READER_TYPE_overall', 'READER_TYPE_per_item',
       'READER_TYPE_per_participant', 'REREAD_col', 'REREAD_distribution',
       'REREAD_overall', 'REREAD_per_item', 'REREAD_per_participant',
       'TD_col', 'TD_distribution', 'TD_overall', 'TD_per_item',
       'TD_per_participant', 'TRC_col', 'TRC_distribution', 'TRC_overall',
       'TRC_per_item', 'TRC_per_participant', 'TYP_col',
       'TYP_distribution', 'TYP_overall', 'TYP_per_item',
       'TYP_per_participant', 'n_fix', 'n_fix_per_item',
       'n_fix_per_participant', 'n_fix_per_trial', 'n_items',
       'n_participants', 'n_trials', 'n_words', 'n_words_corpus',
       'n_words_per_item', 'n_words_per_participant', 'text_domain',
       'text_language', 'text_source', 'text_type'], dtype=object)

In [7]:
stats[stats['stat'] == 'n_fix']

,stat,OneStop,CopCo,MECOL2W1,MECOL2W2,IITBHGC,PoTeC,SBSAT,MECOL2
69,n_fix,1114034,397883,1208284,1200876,163910,1211325,1315160,2409160

In [9]:
stats[stats['stat'] == 'n_trials']

        stat OneStop CopCo MECOL2W1 MECOL2W2 IITBHGC PoTeC SBSAT MECOL2
75  n_trials    9718  4782     4723     4770    2500  2664  1900   9493

In [8]:
stats[stats['stat'] == 'n_participants']

              stat OneStop CopCo MECOL2W1 MECOL2W2 IITBHGC PoTeC SBSAT MECOL2
74  n_participants     180    57      536      562       5    75    95   1098