In [1]:
from pathlib import Path

import pandas as pd

results_dir = Path.cwd().parent
results_dir

PosixPath('/data/home/shubi/eyebench_private/results')

In [ ]:
data_tasks = [
    'CopCo_TYP',
    'CopCo_RCS',
    'OneStop_TRC_First_NoPreview',
    'OneStop_TRC_First_Preview',
    'OneStop_TRC_Repeated_Preview',
    'OneStop_TRC_Repeated_NoPreview',
    'OneStop_TRC',
    'SBSAT_TRC',
    'SBSAT_STD',
    'PoTeC_TRC',
    'PoTeC_BK',
    'IITBHGC_HD',
    'MECOL2_LEX',
]

# ---------------------------------
# Choose here data_task and run all
# ---------------------------------

data_task = 'OneStop_TRC_First_NoPreview'

################################################
# Load Data

stats = pd.read_csv(
    filepath_or_buffer=results_dir
    / f'eyebenchh_benchmark_results/stats_{data_task}.csv'
)
stats

,metric_type,metric_name,eval_type,data_task,model,eval_regime,fold,n_folds,fold_list,n_samples,n_unique_y_true,n_unique_y_pred,y_true_single,y_pred_single,y_true_distribution,y_pred_distribution,extra_classes_in_y_pred,score
0,Discriminative,balanced_accuracy,val,OneStop_TRC_First_NoPreview,AhnCNN,seen_subject_unseen_item,0,1,[0],993,2,2,False,False,"{1: 861, 0: 132}","{1: 775, 0: 218}",NaN,0.469512
1,Discriminative,balanced_accuracy,val,OneStop_TRC_First_NoPreview,AhnCNN,seen_subject_unseen_item,1,1,[1],955,2,1,False,True,"{1: 789, 0: 166}",{1: 955},NaN,0.500000
2,Discriminative,balanced_accuracy,val,OneStop_TRC_First_NoPreview,AhnCNN,seen_subject_unseen_item,2,1,[2],858,2,2,False,False,"{1: 689, 0: 169}","{1: 598, 0: 260}",NaN,0.517640
3,Discriminative,balanced_accuracy,val,OneStop_TRC_First_NoPreview,AhnCNN,seen_subject_unseen_item,3,1,[3],784,2,2,False,False,"{1: 651, 0: 133}","{1: 656, 0: 128}",NaN,0.510348
4,Discriminative,balanced_accuracy,val,OneStop_TRC_First_NoPreview,AhnCNN,seen_subject_unseen_item,4,1,[4],772,2,2,False,False,"{1: 664, 0: 108}","{1: 739, 0: 33}",NaN,0.523594
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2747,Discriminative,auroc,test,OneStop_TRC_First_NoPreview,RandomForestMLArgs,all,8,1,[8],1875,2,1875,False,False,"{1: 1502, 0: 373}",{'N unique: 1875'},"[0.43, 0.43, 0.43, 0.44, 0.45, '...', 'N extra...",0.569721
2748,Discriminative,auroc,test,OneStop_TRC_First_NoPreview,RandomForestMLArgs,all,9,1,[9],1910,2,1887,False,False,"{1: 1624, 0: 286}",{'N unique: 1887'},"[0.4, 0.41, 0.43, 0.5, 0.49, '...', 'N extra c...",0.570617
2749,Discriminative,auroc,test,OneStop_TRC_First_NoPreview,RandomForestMLArgs,seen_subject_unseen_item,all,10,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",8758,2,8692,False,False,"{1: 7100, 0: 1658}",{'N unique: 8692'},"[0.41, 0.39, 0.43, 0.44, 0.45, '...', 'N extra...",0.555692
2750,Discriminative,auroc,test,OneStop_TRC_First_NoPreview,RandomForestMLArgs,unseen_subject_seen_item,all,10,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",8758,2,8696,False,False,"{1: 7100, 0: 1658}",{'N unique: 8696'},"[0.41, 0.43, 0.43, 0.45, 0.49, '...', 'N extra...",0.584025
2751,Discriminative,auroc,test,OneStop_TRC_First_NoPreview,RandomForestMLArgs,unseen_subject_unseen_item,all,10,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",960,2,959,False,False,"{1: 790, 0: 170}",{'N unique: 959'},"[0.4, 0.42, 0.4, 0.41, 0.47, '...', 'N extra c...",0.573235

## See columns

In [4]:
stats.iloc[0]

metric_type                             Discriminative
metric_name                          balanced_accuracy
eval_type                                          val
data_task                  OneStop_TRC_First_NoPreview
model                                           AhnCNN
eval_regime                   seen_subject_unseen_item
fold                                                 0
n_folds                                              1
fold_list                                          [0]
n_samples                                          993
n_unique_y_true                                      2
n_unique_y_pred                                      2
y_true_single                                    False
y_pred_single                                    False
y_true_distribution                   {1: 861, 0: 132}
y_pred_distribution                   {1: 775, 0: 218}
extra_classes_in_y_pred                            NaN
score                                         0.469512
Name: 0, dtype: object

## Check Nans

In [5]:
import numpy as np

stats[np.isnan(stats['score'])][
    [
        'eval_type',
        'eval_regime',
        'data_task',
        'metric_type',
        'metric_name',
        'fold',
        'fold_list',
        'n_samples',
        'y_true_single',
        'y_pred_single',
        'y_true_distribution',
        'score',
    ]
].drop_duplicates()

Empty DataFrame
Columns: [eval_type, eval_regime, data_task, metric_type, metric_name, fold, fold_list, n_samples, y_true_single, y_pred_single, y_true_distribution, score]
Index: []

## Check Nulls

In [6]:
stats[stats['score'].isna()][
    [
        'model',
        'eval_type',
        'eval_regime',
        'data_task',
        'metric_type',
        'metric_name',
        'fold',
        'fold_list',
        'n_samples',
        'y_true_single',
        'y_pred_single',
        'y_true_distribution',
        'score',
    ]
].drop_duplicates()

Empty DataFrame
Columns: [model, eval_type, eval_regime, data_task, metric_type, metric_name, fold, fold_list, n_samples, y_true_single, y_pred_single, y_true_distribution, score]
Index: []

In [7]:
stats[stats['score'].isna()][
    [
        'data_task',
        'metric_type',
        'metric_name',
        'fold',
        'y_true_single',
        'y_pred_single',
        'y_true_distribution',
        'y_pred_distribution',
        'extra_classes_in_y_pred',
        'score',
    ]
].drop_duplicates()

Empty DataFrame
Columns: [data_task, metric_type, metric_name, fold, y_true_single, y_pred_single, y_true_distribution, y_pred_distribution, extra_classes_in_y_pred, score]
Index: []

# N samples Validation

In [8]:
import pandas as pd


def highlight_nsample_differences(
    stats: pd.DataFrame, meta_cols=None, minimal: bool = False
):
    # Create eval_type_regime column (for compact grouping)
    stats = stats.copy()
    stats['eval_type_regime'] = stats['eval_type'] + '_' + stats['eval_regime']

    # Pivot to see n_samples per model
    stats_pivot = stats.pivot_table(
        index=['data_task', 'metric_name', 'fold', 'eval_type_regime'],
        columns='model',
        values='n_samples',
        aggfunc='first',
    ).sort_values(by=['metric_name', 'fold'])

    # Reset index to make metadata accessible as columns
    stats_pivot = stats_pivot.reset_index()

    if meta_cols is None:
        meta_cols = ['data_task', 'metric_name', 'fold', 'eval_type_regime']

    model_cols = [c for c in stats_pivot.columns if c not in meta_cols]
    stats_pivot = stats_pivot.copy()

    # Compute majority value (mode) per row
    stats_pivot['majority_val'] = stats_pivot[model_cols].mode(axis=1)[0]

    # Identify differing cells
    diff_mask = stats_pivot[model_cols].ne(stats_pivot['majority_val'], axis=0)
    stats_pivot['n_unique_n_samples'] = stats_pivot[model_cols].nunique(axis=1)

    if minimal:
        # Keep only rows with differences
        rows_with_diff = diff_mask.any(axis=1)
        df_min = stats_pivot.loc[rows_with_diff, :]
        # Keep only model columns that ever differ
        cols_with_diff = diff_mask.any(axis=0)
        cols_to_keep = (
            meta_cols + list(cols_with_diff[cols_with_diff].index) + ['majority_val']
        )
        df_to_show = df_min[cols_to_keep]
    else:
        df_to_show = stats_pivot

    # print models and eval_type_regime combinations that differ
    differing_rows = stats_pivot[stats_pivot['n_unique_n_samples'] > 1]
    print('Rows with differing n_samples between models:')
    for _, row in differing_rows.sort_values(
        by=['metric_name', 'eval_type_regime', 'fold']
    ).iterrows():
        differing_models = [
            col for col in model_cols if row[col] != row['majority_val']
        ]
        print(
            f'{row["data_task"]} \t {row["metric_name"]} \t Fold: {row["fold"]} \t {row["eval_type_regime"]} \t  {differing_models}'
        )

    # Styling function for highlighting
    def highlight_row(row):
        mode_val = row['majority_val']
        return [
            'color: red; font-weight: bold'
            if (col in model_cols and row[col] != mode_val)
            else ''
            for col in df_to_show.columns
        ]

    styled = df_to_show.style.apply(highlight_row, axis=1).format(precision=0)
    return styled

In [ ]:
# Show only rows and model columns that contain red values
for data_task in data_tasks:
    print(f'Data Task: {data_task}')
    stats = pd.read_csv(
        filepath_or_buffer=results_dir
        / f'eyebench_benchmark_results/stats_{data_task}.csv'
    )
    minimal_df = highlight_nsample_differences(stats, minimal=True)
    display(minimal_df)

Data Task: CopCo_TYP
Rows with differing n_samples between models:

Data Task: CopCo_RCS
Rows with differing n_samples between models:

Data Task: OneStop_TRC_First_NoPreview
Rows with differing n_samples between models:

Data Task: OneStop_TRC_First_Preview
Rows with differing n_samples between models:

Data Task: OneStop_TRC_Repeated_Preview
Rows with differing n_samples between models:

Data Task: OneStop_TRC_Repeated_NoPreview
Rows with differing n_samples between models:

Data Task: OneStop_TRC
Rows with differing n_samples between models:

Data Task: SBSAT_TRC
Rows with differing n_samples between models:

Data Task: SBSAT_STD
Rows with differing n_samples between models:

Data Task: PoTeC_TRC
Rows with differing n_samples between models:

Data Task: PoTeC_BK
Rows with differing n_samples between models:

Data Task: IITBHGC_HD
Rows with differing n_samples between models:

Data Task: MECOL2_LEX
Rows with differing n_samples between models:

In [ ]:
# for task in data_tasks:
#     print(f'Checking {task}...')
#     result = subprocess.run(
#         ['python', str(results_dir / 'validation/check_task_outputs.py'), task],
#         capture_output=True,
#         text=True,
#     )
#     print(result.stdout)
#     if result.stderr:
#         print(f'Errors: {result.stderr}')
#     print('-' * 80)

zz = []
for data_task in data_tasks:
    stats = pd.read_csv(
        filepath_or_buffer=results_dir
        / f'eyebench_benchmark_results/stats_{data_task}.csv'
    )

    z = (
        stats.drop_duplicates(subset=['model', 'fold', 'eval_type', 'eval_regime'])
        .value_counts(['data_task', 'model', 'fold', 'eval_type'])
        .reset_index()
    )
    # print(data_task)
    zz.append(z[(z['count'] < 4) & (z['fold'] != 'all')])

zz_df = pd.concat(zz)
zz_df

,data_task,model,fold,eval_type,count
288,OneStop_TRC_Repeated_Preview,AhnCNN,5,test,3
289,OneStop_TRC_Repeated_Preview,AhnCNN,6,val,3
292,OneStop_TRC_Repeated_Preview,SupportVectorMachineMLArgs,6,val,3
295,OneStop_TRC_Repeated_Preview,XGBoostMLArgs,5,test,3
296,OneStop_TRC_Repeated_Preview,XGBoostMLArgs,6,val,3
...,...,...,...,...,...
343,OneStop_TRC_Repeated_NoPreview,AhnRNN,8,val,3
346,OneStop_TRC_Repeated_NoPreview,BEyeLSTMArgs,7,test,3
347,OneStop_TRC_Repeated_NoPreview,BEyeLSTMArgs,8,val,3
348,OneStop_TRC_Repeated_NoPreview,RoberteyeWord,7,test,3
349,OneStop_TRC_Repeated_NoPreview,RoberteyeWord,8,val,3